<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <p>
        Dear <span th:text="${fullName}"></span>,
    </p>
    <div>
        <p>Chúng tôi xin gửi email này để xác nhận rằng bạn đã chọn hình thức thanh toán bằng tiền mặt tại công ty cho
            đơn đặt tour gần đây của mình. Dưới đây là địa chỉ của công ty và các chi tiết liên quan đến đơn đặt tour
            của bạn:</p>
    </div>
    <table>
        <tr>
            <td>Địa chỉ công ty:<b> 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, Thành phố Hồ Chí Minh</b></td>
        </tr>
        <tr>
            <td>------------------------------------------------------------------------------------</td>
        </tr>
        <tr>
            <td><b>Thông tin hoá đơn</b></td>
        </tr>
        <tr>
            <td>Tên tour: <b><span th:text="${nameTour}"></span></b></td>
        </tr>
        <tr>
            <td>Ngày khởi hành: <b><span th:text="${departureTime}"></span> <span th:text="${startDay}"></span></b>
            </td>
        </tr>
        <tr>
            <td>Thời gian tour:<b> <span th:text="${timeTour}"></span></b></td>

        </tr>
        <tr>
            <td>Số lượng :<b> <span th:text="${volumeCustomer}"> người</span></b></td>
        </tr>
        <tr>
            <td>Trạng thái: <b><span th:text="${status}"></b></span></td>
        </tr>
        <tr>
            <td>Tổng chi phí: <b><span th:text="${totalBill}"></span></b></td>
        </tr>
    </table>
    <p>Xin lưu ý rằng việc thanh toán bằng tiền mặt phải được thực hiện tại địa chỉ công ty chúng tôi trong vòng 24 giờ
        kể từ ngày nhận email này. Vui lòng đến trực tiếp tại địa chỉ công ty và thanh toán đúng số tiền yêu cầu để
        đảm bảo việc thanh toán của bạn được xử lý một cách nhanh chóng và chính xác.</p>
    <p>Trường hợp thời gian đặt tour cách ngày khởi hành tour dưới 24 giờ, xin vui lòng thanh toán trong vòng 2 giờ.</p>
    <p>
        Nếu bạn có bất kỳ câu hỏi hoặc cần hỗ trợ thêm, xin đừng ngần ngại liên hệ với chúng tôi theo số điện thoại
        0968172177 hoặc email này.</a>
    <p>Chân thành cảm ơn bạn đã sử dụng dịch vụ của chúng
        tôi, chúng tôi rất hân hạnh được phục vụ bạn.</p>
    <p>Trân trọng,</p>
    <p>TripHappy</p>

    </p>
</body>

</html>