<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<p>
		Chào <span th:text="${fullName}"></span>,
	</p>
	<div>
		<p>Xin chân thành cảm ơn bạn đã gửi yêu cầu tạo chuyến đi du lịch mới đến chúng tôi. Tuy nhiên, chúng tôi tiếc nuối thông báo rằng yêu cầu của bạn không được chấp nhận vào lúc này.</p>
        <p>Đây là lý do: <span th:text="${reasonReject}"></span></p>
        <p>Chúng tôi hiểu rằng điều này có thể gây thất vọng và bất tiện cho bạn. Tuy nhiên, chúng tôi rất mong được phục vụ bạn trong những lần tới và sẽ cố gắng tìm giải pháp tốt nhất cho nhu cầu du lịch của bạn.</p>
        <p>Nếu bạn có bất kỳ câu hỏi hay cần sự hỗ trợ, xin vui lòng liên hệ với chúng tôi thông qua email. Chúng tôi sẽ cố gắng trả lời bạn trong thời gian sớm nhất.</p>
        <p>Chân thành xin lỗi vì sự bất tiện này và cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi.</p>
	</div>
	<p>Trân trọng,</p>
	<p>HappyTrip</p>

	</p>
</body> 

</html>